body {
  background-color: #99ccff;
}
nav {
  background-color: white;
  border: 2px solid black;
}
section {
  float: left;
  width: 79%;
  border: 2px solid black;
}
aside {
  float: right;
  width: 20%;
  border: 2px solid black;
}

footer {
  border: 2px solid black;
  clear: both;
}